$mainFontWeight:500;
$headBackground: "../img/m-h-day.jpg";
$textStyle: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$radius: 5px;
$colors: ( "cardsColor" : #21232e, "headersColor" : #2c2f3c, "buttonColor": #699900, "mainPageColor" : #ffffff, "awesomeColor": #14a0c7, "gradientColor": #2c5adc,"linksColor": #c0c3ce, "whiteColor" : #ffffff);

